body {
margin: 0;
}

header {
  background: rgba(206, 183, 117, 0.53);
  width: 100%;
  height: 100px;
  display: inline-block;
}

.left-box {
  background: rgba(0, 103, 0, 0.56);
  height: 60%;
  width: 10%;
  display: inline-block;
  margin: 10px 2%;
}

.middle-box {
  background: rgba(0, 103, 0, 0.56);
  height: 60%;
  width: 30%;
  display: inline-block;
  margin: 15px 20% 10px 20%;
}

.right-box {
  background: rgba(0, 103, 0, 0.56);
  height: 60%;
  width: 10%;
  margin: 10px 2%;
  display: inline-block;
}

.top-section {
  background: rgba(241, 234, 143, 0.51);
  width: 100%;
  height: 1000px;
}

.fixed-rectangle {
  background: rgba(0, 103, 0, 0.56);
  height: 80px;
  width: 80%;
  position: absolute;
  margin-left: 10%;
  margin-top: -40px;
}

.white-space {
  height: 200vh;
}
