body {
margin: 0;
}

header {
  width: 100%;
  height: 100px;
  position: fixed;
}

.menu {
  background-image: url("../img/icons/MENU.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 40%;
  width: 10%;
  display: inline-block;
  float: left;
  margin: 15px 2%;
}

.title-div {
  height: 50%;
  width: 30%;
  display: inline-block;
  margin: 5px 20% 10px 20%;
  text-align: center;
  float: left;
}

.site-title {
  font-size: 3em;
  text-align: center;
}


.sign-in-div {
  height: 60%;
  width: 10%;
  margin: 15px 2%;
  display: inline-block;
  float: left;
  text-align: center;
}

.sign-in-text {
  font-size: 2em;
}

.top-section {
  background-image: url("../img/Background.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  width: 100%;
  height: 250vh;
}

.shop-deals{
  background: rgb(137, 150, 137);
  height: 80px;
  width: 80%;
  position: relative;
  margin-left: 10%;
  margin-top: -40px;
}

.shop-deals {
  color: white;
  text-align: center;
  font-size: 3em;
  padding-top: 20px;
}



.bottom-section {
  height: 250vh;
  margin: auto;
  padding: 20px;
}

.row-1 {
  margin-top: 70px;

}

.left-div {
  background: rgba(206, 183, 117, 0.53);
  height: 300px;
  width: 45%;
  margin: 20px 2.5%;
  display: inline-block;

}
.right-div {
  background: rgba(206, 183, 117, 0.53);
  height: 300px;
  width: 45%;
  margin: 20px 2%;
  display: inline-block;
}

#tops {
  background-image: url("../img/Tops.png");
  background-repeat: no-repeat;
  background-position: center;

}

.accessories {
  background: rgba(206, 183, 117, 0.53);
  width: 95%;
  height: 200px;
  margin: auto;
}

.dev-shop-collection {
  background: rgba(206, 183, 117, 0.53);
  width: 95%;
  height: 500px;
  margin: auto;
  margin-top: 20px;
}
